[submodule "site"]
	path = site
	url = git@github.com:family-tree-diplom/frontend.git
[submodule "api"]
	path = api
	url = git@github.com:family-tree-diplom/api.git
[submodule "admin"]
	path = admin
	url = git@github.com:family-tree-diplom/admin.git
